/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    macros {
        macro_copy: macro_copy {
            compatible = "zmk,behavior-macro";
            label = "macro_copy";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_paste: macro_paste {
            compatible = "zmk,behavior-macro";
            label = "macro_paste";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_cut: macro_cut {
            compatible = "zmk,behavior-macro";
            label = "macro_cut";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_all: macro_all {
            compatible = "zmk,behavior-macro";
            label = "macro_all";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_shake: macro_shake {
            compatible = "zmk,behavior-macro";
            label = "macro_shake";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_CONTROL>,
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp M>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_undo: macro_undo {
            compatible = "zmk,behavior-macro";
            label = "macro_undo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_redo: macro_redo {
            compatible = "zmk,behavior-macro";
            label = "macro_redo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>;
        };
        macro_left: macro_left {
            compatible = "zmk,behavior-macro";
            label = "macro_left";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;
        };
        macro_right: macro_right {
            compatible = "zmk,behavior-macro";
            label = "macro_right";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT_ARROW>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | none |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  | BSPC| to 3 |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   | none| none| ESC | ESC  |
            //                    | mo 3| SPC | GUI | ENT | mo 1 | mo 2|
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T         &kp Y   &kp U &kp I &kp O &kp P         &none
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G         &kp H   &kp J &kp K &kp L &kp BACKSPACE &to 3
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B         &kp N   &kp M &none &none &kp ESC       &kp ESC
                                      &mo 3 &kp SPACE &kp LGUI  &kp RET &mo 1 &mo 2
            >;
        };

        lower_layer {
            display-name = "LOWER";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  ]  |  >  |  <  |  [  |  +  |  -  |  ;  |  :  | none| none| none |
            // | CTRL |  )  |  }  |  {  |  (  |  =  |  !  |  .  |  ,  |  ?  | BSPC| none |
            // | SHFT |  &  |  |  |  _  |  '  |  *  |  /  |  "  |  @  |  #  | ESC | none |
            //                    | to 3| SPC | none| ENT | none| GUI |
            bindings = <
                &kp TAB   &kp RBKT &kp GT    &kp LT     &kp LBKT &kp PLUS   &kp MINUS &kp SEMI &kp COLON &none        &none         &none
                &kp LCTRL &kp RPAR &kp RBRC  &kp LBRC   &kp LPAR &kp EQUAL  &kp EXCL  &kp DOT  &kp COMMA &kp QUESTION &kp BACKSPACE &none
                &kp LSHFT &kp AMPS &kp PIPE  &kp UNDER  &kp SQT  &kp ASTRK  &kp SLASH &kp DQT  &kp AT    &kp HASH     &kp ESC       &none
                                             &to 3      &kp SPACE &none     &kp RET   &none    &kp LGUI
            >;
        };

        raise_layer {
            display-name = "RAISE";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |  ^  |  &  |  *  |  (  |  )  | none |
            // | CTRL |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  | none |
            // | SHFT | none| none| none| none| none| HOME| END | none| none| ESC | ESC  |
            //                    | to 3| SPC | none| ENT | none| GUI |
            bindings = <
                &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT  &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &none
                &kp LCTRL &kp N1   &kp N2 &kp N3   &kp N4   &kp N5     &kp N6    &kp N7   &kp N8    &kp N9   &kp N0   &none
                &kp LSHFT &none    &none  &none    &none    &none      &kp HOME  &kp END  &none     &none    &kp ESC  &kp ESC
                                          &to 3    &kp SPACE &none     &kp RET   &none    &kp LGUI
            >;
        };

        extra_layer_1 {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------
            // |  TAB | none| none| none| BSPC| ESC |BT_CLR| BT 0|  UP | BT 1| none|UNLOCK|
            // | CTRL | ALL | CUT | COPY|PASTE| REDO| BT 2 | LEFT| DOWN|RIGHT| BSPC| to 0 |
            // | SHFT | UNDO| none| none| none| none| BT 3 | HOME| none| END | ESC | BT 4 |
            //                    | none| none| GUI | ENT  | none| none|
            bindings = <
                &kp TAB   &none       &none       &none        &kp BSPC     &kp ESC      &bt BT_CLR   &bt BT_SEL 0 &kp UP   &bt BT_SEL 1 &none         &studio_unlock
                &kp LCTRL &macro_all  &macro_cut  &macro_copy  &macro_paste &macro_redo  &bt BT_SEL 2 &kp LEFT     &kp DOWN &kp RIGHT    &kp BACKSPACE &to 0
                &kp LSHFT &macro_undo &none       &none        &none        &none        &bt BT_SEL 3 &kp HOME     &none    &kp END      &kp ESC       &bt BT_SEL 4
                                                  &none        &none        &kp LGUI     &kp RET      &none        &none
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };
    };
};
