/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    behaviors {
        aoe_grp: aoe_group_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AOE_GROUP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sk>;
        };
        aoe_vill: aoe_villager_tc {
            compatible = "zmk,behavior-hold-tap";
            label = "AOE_VILL_TC";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        aoe_mil: aoe_idle_military {
            compatible = "zmk,behavior-hold-tap";
            label = "AOE_IDLE_MIL";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        aoe_goto: aoe_goto_building {
            compatible = "zmk,behavior-hold-tap";
            label = "AOE_GOTO";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        macro_copy: macro_copy {
            compatible = "zmk,behavior-macro";
            label = "macro_copy";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_paste: macro_paste {
            compatible = "zmk,behavior-macro";
            label = "macro_paste";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_cut: macro_cut {
            compatible = "zmk,behavior-macro";
            label = "macro_cut";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_all: macro_all {
            compatible = "zmk,behavior-macro";
            label = "macro_all";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_shake: macro_shake {
            compatible = "zmk,behavior-macro";
            label = "macro_shake";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_CONTROL>,
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp M>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_undo: macro_undo {
            compatible = "zmk,behavior-macro";
            label = "macro_undo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };
        macro_redo: macro_redo {
            compatible = "zmk,behavior-macro";
            label = "macro_redo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>;
        };
        macro_left: macro_left {
            compatible = "zmk,behavior-macro";
            label = "macro_left";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;
        };
        macro_right: macro_right {
            compatible = "zmk,behavior-macro";
            label = "macro_right";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT_ARROW>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;
        };
        macro_alt_space: macro_alt_space {
            compatible = "zmk,behavior-macro";
            label = "macro_alt_space";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LEFT_ALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | ESC  |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  | BSPC| ALT  |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   | none| none| none| none |
            //                    | mo 3| SPC | GUI | ENT | mo 1 | mo 2|
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T         &kp Y   &kp U &kp I &kp O &kp P         &kp ESC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G         &kp H   &kp J &kp K &kp L &kp BACKSPACE &sk LALT
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B         &kp N   &kp M &none &none &none         &none
                                      &mo 3 &kp SPACE &kp LGUI  &mt LALT RET &mo 1 &mo 2
            >;
        };

        lower_layer {
            display-name = "LOWER";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  ]  |  >  |  <  |  [  |  +  |  -  |  ;  |  :  | none| none| none |
            // | CTRL |  )  |  }  |  {  |  (  |  =  |  !  |  .  |  ,  |  ?  | BSPC| none |
            // | SHFT |  &  |  |  |  _  |  '  |  *  |  /  |  "  |  @  |  #  | ESC | none |
            //                    | none| SPC | none| ENT | none| GUI |
            bindings = <
                &kp TAB   &kp RBKT &kp GT    &kp LT     &kp LBKT &kp PLUS   &kp MINUS &kp SEMI &kp COLON &none        &none         &none
                &kp LCTRL &kp RPAR &kp RBRC  &kp LBRC   &kp LPAR &kp EQUAL  &kp EXCL  &kp DOT  &kp COMMA &kp QUESTION &kp BACKSPACE &none
                &kp LSHFT &kp AMPS &kp PIPE  &kp UNDER  &kp SQT  &kp ASTRK  &kp SLASH &kp DQT  &kp AT    &kp HASH     &kp ESC       &none
                                             &none      &kp SPACE &none     &kp RET   &none    &kp LGUI
            >;
        };

        raise_layer {
            display-name = "RAISE";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |  ^  |  &  |  *  |  (  |  )  | none |
            // | CTRL |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  | none |
            // | SHFT | none| none| none| none| none| HOME| END | none| none| ESC | ESC  |
            //                    | none| SPC | GUI | ENT | none| GUI |
            bindings = <
                &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT  &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &none
                &kp LCTRL &kp N1   &kp N2 &kp N3   &kp N4   &kp N5     &kp N6    &kp N7   &kp N8    &kp N9   &kp N0   &none
                &kp LSHFT &none    &none  &none    &none    &none      &kp HOME  &kp END  &none     &none    &kp ESC  &kp ESC
                                          &none    &kp SPACE &kp LGUI   &kp RET   &none    &kp LGUI
            >;
        };

        extra_layer_1 {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------
            // |  TAB | none| none| AOE2| BSPC| ESC |BT_CLR| BT 0|  UP | BT 1| none|UNLOCK|
            // | CTRL | ALL | CUT | COPY|PASTE| REDO| BT 2 | LEFT| DOWN|RIGHT| BSPC| to 0 |
            // | SHFT | UNDO| RST | BOOT| none| none| BT 3 | HOME| BOOT| END | ESC | BT 4 |
            //                    | none| none| none| ENT  |ALT_SPC| none|
            bindings = <
                &kp TAB   &none       &none       &to 4        &kp BSPC     &kp ESC      &bt BT_CLR   &bt BT_SEL 0 &kp UP   &bt BT_SEL 1 &none         &studio_unlock
                &kp LCTRL &macro_all  &macro_cut  &macro_copy  &macro_paste &macro_redo  &bt BT_SEL 2 &kp LEFT     &kp DOWN &kp RIGHT    &kp BACKSPACE &to 0
                &kp LSHFT &macro_undo &sys_reset  &bootloader  &none        &none        &bt BT_SEL 3 &kp HOME     &bootloader &kp END   &kp ESC       &bt BT_SEL 4
                                                   &none        &none        &none        &kp RET      &macro_alt_space &none
            >;
        };

        aoe2_base {
            display-name = "AOE2";
            // -----------------------------------------------------------------------------------------
            // LEFT HAND: Full AoE2 grid with Go-To on long press (200ms)
            // RIGHT HAND: unused (on mouse), to 0 to exit
            //
            // TAP (grid command)  |  HOLD (Go-To building via Ctrl+key)
            // ---------------------------------------------------------
            // | ,/TAB|  Q  |W/MIL|E/STB|R/SIE|T/KRE|  -  |  -  |  -  |  -  |  -  |  -   |
            // | CTRL |A/ARC|S/BLS|D/DOC|F/UNI|G/MIN|  -  |  -  |  -  |  -  |  -  | to 0 |
            // | SHFT |Z/LUM|X/MON|C/MKT|V/CAS|B/BAR|  -  |  -  |  -  |  -  |  -  |  -   |
            //              | GRP(hold=mo,tap=skCtrl) | SPC | ./H(tap=vill,hold=TC) |
            //
            // Key legend:
            //   ,/TAB  = tap: , (idle military)  | hold: TAB
            //   W/MIL  = tap: W                  | hold: Ctrl+I (go to Mill)
            //   E/STB  = tap: E                  | hold: Ctrl+L (go to Stable)
            //   R/SIE  = tap: R                  | hold: Ctrl+K (go to Siege Workshop)
            //   T/KRE  = tap: T                  | hold: Ctrl+T (go to Krepost)
            //   A/ARC  = tap: A                  | hold: Ctrl+A (go to Archery Range)
            //   S/BLS  = tap: S                  | hold: Ctrl+S (go to Blacksmith)
            //   D/DOC  = tap: D                  | hold: Ctrl+D (go to Dock)
            //   F/UNI  = tap: F                  | hold: Ctrl+U (go to University)
            //   G/MIN  = tap: G                  | hold: Ctrl+G (go to Mining Camp)
            //   Z/LUM  = tap: Z                  | hold: Ctrl+Z (go to Lumber Camp)
            //   X/MON  = tap: X                  | hold: Ctrl+Y (go to Monastery)
            //   C/MKT  = tap: C                  | hold: Ctrl+M (go to Market)
            //   V/CAS  = tap: V                  | hold: Ctrl+V (go to Castle)
            //   B/BAR  = tap: B                  | hold: Ctrl+B (go to Barracks)
            //   GRP    = hold: momentary numbers layer | tap: sticky Ctrl (assign group)
            //   ./H    = tap: . (idle villager)  | hold: H (go to Town Center)
            bindings = <
                &aoe_mil TAB COMMA    &kp Q                &aoe_goto LC(I) W  &aoe_goto LC(L) E  &aoe_goto LC(K) R  &aoe_goto LC(T) T   &none &none &none &none &none &none
                &kp LCTRL             &aoe_goto LC(A) A    &aoe_goto LC(S) S  &aoe_goto LC(D) D  &aoe_goto LC(U) F  &aoe_goto LC(G) G   &none &none &none &none &none &to 0
                &kp LSHFT             &aoe_goto LC(Z) Z    &aoe_goto LC(Y) X  &aoe_goto LC(M) C  &aoe_goto LC(V) V  &aoe_goto LC(B) B   &none &none &none &none &none &none
                                                           &aoe_grp 5 LCTRL  &kp SPACE          &aoe_vill H DOT    &none &none &none
            >;
        };

        aoe2_numbers {
            display-name = "AOE2 NUM";
            // -----------------------------------------------------------------------------------------
            // Accessed by HOLDING the GRP key on AOE2 layer
            // LEFT HAND: Numbers + utility     RIGHT HAND: passthrough
            // |  F3  |  1  |  2  |  3  |  4  |  5  |  -  |  -  |  -  |  -  |  -  |  -   |
            // | DEL  |  6  |  7  |  8  |  9  |  0  |  -  |  -  |  -  |  -  |  -  | to 0 |
            // | SHFT | HOME|  ,  |  .  | ESC |  /  |  -  |  -  |  -  |  -  |  -  |  -   |
            //                    | --- | --- | --- |  -  |  -  |  -  |
            //
            // Numbers 1-5 on top row, 6-0 on home row for control groups
            // , = next idle military | . = next idle villager
            // HOME = go to last notification | F3 = pause | / = click-drag scroll
            bindings = <
                &kp F3    &kp N1   &kp N2    &kp N3  &kp N4  &kp N5   &none &none &none &none &none &none
                &kp DEL   &kp N6   &kp N7    &kp N8  &kp N9  &kp N0   &none &none &none &none &none &to 0
                &kp LSHFT &kp HOME &kp COMMA &kp DOT &kp ESC &kp SLASH &none &none &none &none &none &none
                                              &trans  &none   &none    &none &none &none
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };
    };
};
